extends layout

block content
  h1 Item: #{item.title}
  h2 Do you really want to delete this Item?

  form(method='POST' action='')
      div.form-group
      input#item_id.form-control(type='hidden',name='item_id', required='true', value=item._id )

      button(type='submit') Delete
