doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      a(href='/catalog') Home
      a(href='/catalog/items') Items
      a(href='/catalog/categories') Categories
    div.content
      block content
