.navbar {
  display: flex;
  gap: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.5rem;
}
input,
select {
  margin-bottom: 1rem;
}
